# Folders
EXIOBASE_data/EXIOBASE_v*
.vscode
tmp/*
BACI_data/*

# Files
PRODCOM_data/estat_ds-059358.*
.env
**/__pycache__/

Output_data/2026080* - output_exiobase_vpxp2019_*.csv
~*
Output_data/S.csv
Output_data/ghg_emissions_extension.csv
Output_data/20260204 - reorganized annual_series.csv
Output_data/20260808 - filtered_prodcom_grouped_EU27_2019.csv