EXIOBASE_data/EXIOBASE_v*/**
!EXIOBASE_data/EXIOBASE_v3.10.2/EXIOBASE LICENSE.txt
.vscode
tmp/*
BACI_data/*

PRODCOM_data/estat_ds-059358.*
.env
**/__pycache__/

# Contain confidential Ecoinvent data
Output_data/Ecoinvent unit footprints.csv
Article_data/Ecoinvent data for sensitivity analysis - confidential.xlsx

Output_data/2026080* - output_exiobase_vpxp2019_*.csv
~*
Output_data/S.csv
Output_data/ghg_emissions_extension.csv
Output_data/20260808 - filtered_prodcom_grouped_EU27_2019.csv